{% load static %}
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand d-flex align-items-center" href="{% url 'map' %}">
            <img src="{% static 'img/logo/logo.png' %}" alt="Карта водно-зеленой инфраструктуры" class="img-fluid" style="width: 50px; height: 50px;">
            <span class="ms-2 display-5 font-weight-bold text-uppercase text-white">ВЗИК</span>
        </a>
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
            <li class="sidebar-header">
                Профиль
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'profile' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Профиль</span>
                </a>
            </li>
            <li class="sidebar-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="sidebar-link btn btn-link">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Выйти</span>
                    </button>
                </form>
            </li>
            {% else %}
            <li class="sidebar-header">
                Авторизация
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'signin' %}">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Войти</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'signup' %}">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Зарегистрироваться</span>
                </a>
            </li>
            {% endif %}

            <li class="sidebar-header">
                Меню сайта
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'map' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'map' %}">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Карта</span>
                </a>
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'project_list' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'project_list' %}">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Список проектов</span>
                </a>
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'map' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'map' %}">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">О проекте</span>
                </a>
            </li>
            <li class="sidebar-header">Фильтр по проектам</li>
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#submenu-green-management"
                   aria-expanded="false">
                    <i class="align-middle" data-feather="archive"></i> <span
                        class="align-middle">Водный менеджмент</span>
                </a>
                <ul id="submenu-green-management" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="archive"></i> Дождевой
                        сад</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="archive"></i>
                        Биодренажная канава</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="archive"></i> Зеленая
                        крыша</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#submenu-biodiversity"
                   aria-expanded="false">
                    <i class="align-middle" data-feather="droplet"></i> <span
                        class="align-middle">Биоразнообразие</span>
                </a>
                <ul id="submenu-biodiversity" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="droplet"></i> Тип подменю
                        1</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="droplet"></i> Тип подменю
                        2</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle"
                                                                                 data-feather="droplet"></i> Тип подменю
                        3</a></li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-cta">
            <div class="sidebar-cta-content text-center">
                <a href="https://laenguild.org/" target="_blank">
                    <img src="{% static 'img/logo/Logo_lanit.png' %}" alt="Lanit Logo" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar-brand {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .navbar-brand-full {
        display: inline;
    }

    .navbar-brand-short {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar-brand-full {
            display: none;
        }

        .navbar-brand-short {
            display: inline;
        }
    }

    .btn-link {
        text-decoration: none;
    }

    .btn-link:hover {
        text-decoration: none;
    }
</style>
