{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
    <title>ВЗИК | Регистрация</title>
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
</head>
<body>
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-12 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="text-center mt-4">
                        <h1 class="h2">Добро пожаловать!</h1>
                        <p class="lead">
                            Создайте учетную запись
                        </p>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Профиль</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Имя</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Фамилия</label>
                                            {{ form.last_name }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Телефон</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Информация</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Сфера деятельности</label>
                                            {{ form.activity_area }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Место работы</label>
                                            {{ form.workplace }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Должность</label>
                                            {{ form.position }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Контакты</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Страна</label>
                                            {{ form.country }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Город</label>
                                            {{ form.city }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 offset-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Авторизация</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Пароль</label>
                                            {{ form.password1 }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Подтверждение пароля</label>
                                            {{ form.password2 }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-check">
                                                {{ form.agree_to_terms }}
                                                <span class="form-check-label">
    Я согласен с <a href="{% url 'document_detail' slug='privacy_policy' %}" target="_blank">политикой обработки персональных данных</a> и <a
                                                        href="{% url 'document_detail' slug='terms_of_service' %}"
                                                        target="_blank">условиями использования</a>.
</span>

                                            </label>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button type="submit" class="btn btn-lg btn-primary w-100 mb-2">
                                                Зарегистрироваться
                                            </button>
                                            <button type="button" onclick="history.back()"
                                                    class="btn btn-lg btn-secondary w-100">Назад
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('input[name="phone"]').inputmask("8 (999) 999-99-99");
    });
</script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
