{% load static %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Список проектов</h5>
    </div>
    <div class="card-body h-100">
        <!-- Table View -->
        <div id="tableView" class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Изображение</th>
                    <th scope="col">Название</th>
                    <th scope="col">Тип объекта</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                <tr class="project-row" onclick="window.location.href='{% url 'project_detail' project.pk %}'">
                    <td>
                        {% if project.photos.all %}
                            <img src="{{ project.photos.all.0.image.url }}" width="50" class="img-fluid" alt="Project Image">
                        {% else %}
                            <img src="{% static 'img/logo/placeholder.jpg' %}" width="50" class="img-fluid" alt="Project Image">
                        {% endif %}
                    </td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.main_type.name }}</td>
                    <td>{{ project.user.last_name }} {{ project.user.first_name }}</td>
                    <td>{{ project.created_at|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Grid View -->
        <div id="gridView" class="row d-none">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card project-card" onclick="window.location.href='{% url 'project_detail' project.pk %}'">
                    {% if project.photos.all %}
                        <img src="{{ project.photos.all.0.image.url }}" class="card-img-top" alt="Project Image">
                    {% else %}
                        <img src="{% static 'img/logo/placeholder.jpg' %}" class="card-img-top" alt="Project Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.main_type.name }}</p>
                        <p class="card-text">Автор: {{ project.user.last_name }} {{ project.user.first_name }}</p>
                        <p class="text-muted">{{ project.created_at|date:"Y-m-d" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableViewBtn = document.getElementById('tableViewBtn');
        const gridViewBtn = document.getElementById('gridViewBtn');
        const tableView = document.getElementById('tableView');
        const gridView = document.getElementById('gridView');

        tableViewBtn.addEventListener('click', function () {
            tableView.classList.remove('d-none');
            gridView.classList.add('d-none');
            tableViewBtn.classList.add('btn-primary');
            tableViewBtn.classList.remove('btn-outline-primary');
            gridViewBtn.classList.add('btn-outline-primary');
            gridViewBtn.classList.remove('btn-primary');
        });

        gridViewBtn.addEventListener('click', function () {
            tableView.classList.add('d-none');
            gridView.classList.remove('d-none');
            gridViewBtn.classList.add('btn-primary');
            gridViewBtn.classList.remove('btn-outline-primary');
            tableViewBtn.classList.add('btn-outline-primary');
            tableViewBtn.classList.remove('btn-primary');
        });
    });
</script>
<style>
    .project-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        cursor: pointer; /* Добавляем курсор указателя для карточек */
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    .project-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .project-row {
        cursor: pointer; /* Добавляем курсор указателя для строк таблицы */
    }
</style>
