{% extends "base.html" %}
{% load static %}
{% block title %}Зелёный компас{% endblock %}

{% block content %}
    <main class="content">
        <div class="container-fluid p-0">
            <div class="mb-3">
                <h1 class="h3 d-inline align-middle">Добавить проект</h1>
            </div>
            <div class="row">
                <!-- Основная информация -->
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Основная информация</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label" for="id_title">Название</label>
                                    {{ form.title }}
                                    <div class="text-danger">{{ form.title.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="id_description">Описание</label>
                                    {{ form.description }}
                                    <div class="text-danger">{{ form.description.errors }}</div>
                                </div>
                                <input type="hidden" name="latitude" value="{{ request.GET.lat }}">
                                <input type="hidden" name="longitude" value="{{ request.GET.lng }}">
                                <div class="d-flex flex-wrap">
                                    <div class="me-2 flex-fill">
                                        <label class="form-label" for="id_country">Страна</label>
                                        <input type="text" name="country" id="id_country" class="form-control">
                                    </div>
                                    <div class="me-2 flex-fill">
                                        <label class="form-label" for="id_city">Город</label>
                                        <input type="text" name="city" id="id_city" class="form-control">
                                    </div>
                                    <div class="me-2 flex-fill">
                                        <label class="form-label" for="id_street">Улица</label>
                                        <input type="text" name="street" id="id_street" class="form-control">
                                    </div>
                                    <div class="flex-grow-1">
                                        <label class="form-label" for="id_house_number">Дом</label>
                                        <input type="text" name="house_number" id="id_house_number" class="form-control"
                                               style="width: 80px;">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Категория объекта -->
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Категория объекта</h5>
                        </div>
                        <div class="card-body">
                            <div id="category-container">
                                <div class="mb-3 category-entry">
                                    <div class="d-flex">
                                        <div class="me-2 flex-fill">
                                            <label class="form-label" for="id_category">Категория</label>
                                            {{ form.category }}
                                            <div class="text-danger">{{ form.category.errors }}</div>
                                        </div>
                                        <div class="flex-fill">
                                            <label class="form-label" for="id_main_type">Тип</label>
                                            {{ form.main_type }}
                                            <div class="text-danger">{{ form.main_type.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h5>Дополнительные категории и типы:</h5>
                                    <div class="d-flex">
                                        <div class="me-2 flex-fill">
                                            <label class="form-label" for="id_additional_category_1">Категория</label>
                                            {{ form.additional_category_1 }}
                                            <div class="text-danger">{{ form.additional_category_1.errors }}</div>
                                        </div>
                                        <div class="flex-fill">
                                            <label class="form-label" for="id_additional_type_1">Тип</label>
                                            {{ form.additional_type_1 }}
                                            <div class="text-danger">{{ form.additional_type_1.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="me-2 flex-fill">
                                            <label class="form-label" for="id_additional_category_2">Категория</label>
                                            {{ form.additional_category_2 }}
                                            <div class="text-danger">{{ form.additional_category_2.errors }}</div>
                                        </div>
                                        <div class="flex-fill">
                                            <label class="form-label" for="id_additional_type_2">Тип</label>
                                            {{ form.additional_type_2 }}
                                            <div class="text-danger">{{ form.additional_type_2.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="me-2 flex-fill">
                                            <label class="form-label" for="id_additional_category_3">Категория</label>
                                            {{ form.additional_category_3 }}
                                            <div class="text-danger">{{ form.additional_category_3.errors }}</div>
                                        </div>
                                        <div class="flex-fill">
                                            <label class="form-label" for="id_additional_type_3">Тип</label>
                                            {{ form.additional_type_3 }}
                                            <div class="text-danger">{{ form.additional_type_3.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Фотографии, видео, ссылки -->
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Фотографии, видео, ссылки</h5>
                        </div>
                        <div class="card-body">
                            {{ photo_formset.management_form }}
                            {{ video_formset.management_form }}
                            {{ link_formset.management_form }}

                            <!-- Фотографии -->
                            <div class="mb-3">
                                <label class="form-label">Фотографии</label>
                                <div class="upload-container">
                                    {% for form in photo_formset %}
                                        <div class="upload-box">
                                            {{ form.image }}
                                            <span class="remove">X</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr class="my-0"/>
                            <!-- Видео -->
                            <div class="mb-3">
                                <label class="form-label">Видео</label>
                                <div id="video-container">
                                    {% for form in video_formset %}
                                        <div class="video-entry d-flex">
                                            <input type="url" name="{{ form.prefix }}-video" class="form-control"
                                                   placeholder="Введите ссылку на видео"
                                                   value="{{ form.initial.video }}">
                                            <input type="text" name="{{ form.prefix }}-description" class="form-control"
                                                   placeholder="Введите описание видео"
                                                   value="{{ form.initial.description }}">
                                            <div class="text-danger">{{ form.video.errors }}</div>
                                            <div class="text-danger">{{ form.description.errors }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr class="my-0"/>
                            <!-- Ссылки -->
                            <div class="mb-3">
                                <label class="form-label">Ссылки на дополнительные материалы</label>
                                <div id="link-container">
                                    {% for form in link_formset %}
                                        <div class="link-entry d-flex">
                                            <input type="url" name="{{ form.prefix }}-url" class="form-control"
                                                   placeholder="Введите ссылку" value="{{ form.initial.url }}">
                                            <input type="text" name="{{ form.prefix }}-description" class="form-control"
                                                   placeholder="Введите описание ссылки"
                                                   value="{{ form.initial.description }}">
                                            <div class="text-danger">{{ form.url.errors }}</div>
                                            <div class="text-danger">{{ form.description.errors }}</div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Дополнительные данные об объекте -->
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Дополнительные данные об объекте</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="id_creation_year">Год создания</label>
                                <input type="text" name="creation_year" id="id_creation_year" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_design_year">Год проектирования</label>
                                <input type="text" name="design_year" id="id_design_year" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_project_author">Автор проекта</label>
                                <input type="text" name="project_author" id="id_project_author" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_project_description">Описание проекта</label>
                                <textarea name="project_description" id="id_project_description"
                                          class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_additional_info">Дополнительная информация</label>
                                <input type="text" name="additional_info" id="id_additional_info" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_awards">Награды</label>
                                <input type="text" name="awards" id="id_awards" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Мониторинг -->
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Мониторинг</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Ведется ли мониторинг</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="is_monitoring"
                                           id="id_is_monitoring">
                                    <label class="form-check-label" for="id_is_monitoring">Да</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_monitoring_parameters">Какие параметры
                                    измеряются?</label>
                                <input type="text" name="monitoring_parameters" id="id_monitoring_parameters"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_monitoring_start_year">С какого года работает
                                    система?</label>
                                <input type="text" name="monitoring_start_year" id="id_monitoring_start_year"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_monitoring_equipment">Какое оборудование
                                    используется?</label>
                                <input type="text" name="monitoring_equipment" id="id_monitoring_equipment"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_monitoring_owner">Кто собственник системы
                                    мониторинга?</label>
                                <input type="text" name="monitoring_owner" id="id_monitoring_owner"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Открыты ли данные?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="is_data_open"
                                           id="id_is_data_open">
                                    <label class="form-check-label" for="id_is_data_open">Да</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Экосистемные услуги -->
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Экосистемные услуги</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Измерялись ли на вашем объекте экосистемные услуги? Если да,
                                    то какие?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="is_ecosystem_services_measured" id="id_is_ecosystem_services_measured">
                                    <label class="form-check-label" for="id_is_ecosystem_services_measured">Да</label>
                                </div>
                                <textarea name="ecosystem_services_measured" id="id_ecosystem_services_measured"
                                          class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Какие экосистемные услуги вы бы хотели измерить? Выберете пять
                                    основных.</label>
                                <div>
                                    <div class="ecosystem-category">
                                        <label class="ecosystem-category-title"><strong>Вода</strong> <i
                                                class="align-middle" data-feather="chevron-down"></i></label>
                                        <div class="ecosystem-services-list" style="display: none;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_1"
                                                       value="1">
                                                <label class="form-check-label" for="id_ecosystem_service_1">Регулирование
                                                    подтопления территории за счёт зелёных решений</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_2"
                                                       value="2">
                                                <label class="form-check-label" for="id_ecosystem_service_2">Регулирование
                                                    температуры и влажности воздуха за счёт водных объектов</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_3"
                                                       value="3">
                                                <label class="form-check-label" for="id_ecosystem_service_3">Познавательная
                                                    ценность</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_4"
                                                       value="4">
                                                <label class="form-check-label" for="id_ecosystem_service_4">Наблюдение
                                                    за живой природой</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_5"
                                                       value="5">
                                                <label class="form-check-label" for="id_ecosystem_service_5">Чувство
                                                    места</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_6"
                                                       value="6">
                                                <label class="form-check-label"
                                                       for="id_ecosystem_service_6">Рекреация</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_7"
                                                       value="7">
                                                <label class="form-check-label" for="id_ecosystem_service_7">Повышение
                                                    привлекательности территории за счёт наличия водных объектов
                                                    (стоимость недвижимости)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_8"
                                                       value="8">
                                                <label class="form-check-label" for="id_ecosystem_service_8">Устойчивость
                                                    береговой линии</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_9"
                                                       value="9">
                                                <label class="form-check-label" for="id_ecosystem_service_9">Очищение
                                                    воды растениями (биофильтрация)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ecosystem-category">
                                        <label class="ecosystem-category-title"><strong>Почва</strong> <i
                                                class="align-middle" data-feather="chevron-down"></i></label>
                                        <div class="ecosystem-services-list" style="display: none;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_10"
                                                       value="10">
                                                <label class="form-check-label" for="id_ecosystem_service_10">Очистка
                                                    воды почвой</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_11"
                                                       value="11">
                                                <label class="form-check-label" for="id_ecosystem_service_11">Регулирование
                                                    инфильтрации</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_12"
                                                       value="12">
                                                <label class="form-check-label" for="id_ecosystem_service_12">Депонирование
                                                    (поглощение) углерода почвой</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_13"
                                                       value="13">
                                                <label class="form-check-label" for="id_ecosystem_service_13">Очищение
                                                    почв почвенными микроорганизмами</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecosystem_service_14"
                                                       value="14">
                                                <label class="form-check-label" for="id_ecосистем_service_14">Срок жизни
                                                    почвенных конструкций</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_15"
                                                       value="15">
                                                <label class="form-check-label" for="id_ecосистем_service_15">Вероятность
                                                    химического повреждения почв в ходе эксплуатации</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_16"
                                                       value="16">
                                                <label class="form-check-label" for="id_ecосистем_service_16">Контроль
                                                    эрозии почв</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_17"
                                                       value="17">
                                                <label class="form-check-label" for="id_ecосистем_service_17">Контроль
                                                    дефляции почв</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ecosystem-category">
                                        <label class="ecosystem-category-title"><strong>Растения</strong> <i
                                                class="align-middle" data-feather="chevron-down"></i></label>
                                        <div class="ecosystem-services-list" style="display: none;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_18"
                                                       value="18">
                                                <label class="form-check-label" for="id_ecосистем_service_18">Депонирование
                                                    (накопление) углерода деревьями и кустарниками</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_19"
                                                       value="19">
                                                <label class="form-check-label" for="id_ecосистем_service_19">Регулирование
                                                    комфортности пребывания растениям (температура+влажность)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_20"
                                                       value="20">
                                                <label class="form-check-label" for="id_ecосистем_service_20">Термоизоляция
                                                    (при помощи кровельного озеленения)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_21"
                                                       value="21">
                                                <label class="form-check-label" for="id_ecосистем_service_21">Уменьшение
                                                    скорости ветра</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_22"
                                                       value="22">
                                                <label class="form-check-label" for="id_ecосистем_service_22">Уменьшение
                                                    уровня шумового загрязнения</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_23"
                                                       value="23">
                                                <label class="form-check-label" for="id_ecосистем_service_23">Осаждение
                                                    микрочастиц пыли растениями</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_24"
                                                       value="24">
                                                <label class="form-check-label" for="id_ecосистем_service_24">Познавательная
                                                    ценность (число видов растений)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_25"
                                                       value="25">
                                                <label class="form-check-label" for="id_ecосистем_service_25">Наблюдение
                                                    за живой природой. Чувство места (наличие уникальных природных
                                                    объектов)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_26"
                                                       value="26">
                                                <label class="form-check-label"
                                                       for="id_ecосистем_service_26">Рекреация</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_27"
                                                       value="27">
                                                <label class="form-check-label" for="id_ecосистем_service_27">Повышение
                                                    привлекательности территории (стоимость недвижимости)</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_28"
                                                       value="28">
                                                <label class="form-check-label" for="id_ecосистем_service_28">Регулирование
                                                    стока за счёт транспирации растениями</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_29"
                                                       value="29">
                                                <label class="form-check-label" for="id_ecосистем_service_29">Очищение
                                                    почв растениями</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="ecosystem_services_desired" id="id_ecосистем_service_30"
                                                       value="30">
                                                <label class="form-check-label" for="id_ecосистем_service_30">Поддержание
                                                    популяции редких видов растений (и животных)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Кнопки действия -->
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Добавить проект</button>
                            <button type="button" onclick="history.back()" class="btn btn-lg btn-light w-50">Назад
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_scripts %}
    <script>
document.addEventListener('DOMContentLoaded', function () {
    const maxFileSize = 5 * 1024 * 1024;  // Максимальный размер файла 5 МБ
    const validImageFormats = ["image/jpeg", "image/png", "image/gif"];  // Допустимые форматы файлов
    const photoInputs = document.querySelectorAll('.upload-box input[type="file"]');
    
    // Функция проверки, что хотя бы одно изображение загружено
    function validatePhotoUploads() {
        const photoBoxes = document.querySelectorAll('.upload-box');
        let photoUploaded = false;

        photoBoxes.forEach(box => {
            const input = box.querySelector('input[type="file"]');
            if (input && input.files.length > 0) {
                photoUploaded = true;
            }
        });

        return photoUploaded;
    }

    // Обработчик отправки формы
    document.querySelector('form')?.addEventListener('submit', function (e) {
        if (!validatePhotoUploads()) {
            e.preventDefault(); // Останавливаем отправку формы
            alert("Пожалуйста, добавьте хотя бы одну фотографию.");
        }
    });

    photoInputs.forEach(input => {
        input.addEventListener('change', function () {
            const file = this.files[0];
            const alertBox = document.createElement('div');
            alertBox.classList.add('custom-alert');

            if (file) {
                // Проверка размера файла
                if (file.size > maxFileSize) {
                    alertBox.textContent = 'Размер файла не должен превышать 5 МБ.';
                    this.parentElement.appendChild(alertBox);
                    this.value = '';  // Очищаем поле, если файл не подходит

                    setTimeout(() => {
                        alertBox.classList.add('show');
                    }, 10);

                    setTimeout(() => {
                        alertBox.classList.remove('show');
                        setTimeout(() => alertBox.remove(), 300);
                    }, 3000);

                    return;
                }

                // Проверка типа файла
                if (!validImageFormats.includes(file.type)) {
                    alertBox.textContent = 'Недопустимый формат файла. Разрешены только JPEG, PNG, GIF.';
                    this.parentElement.appendChild(alertBox);
                    this.value = '';  // Очищаем поле, если файл не подходит

                    setTimeout(() => {
                        alertBox.classList.add('show');
                    }, 10);

                    setTimeout(() => {
                        alertBox.classList.remove('show');
                        setTimeout(() => alertBox.remove(), 300);
                    }, 3000);

                    return;
                }

                // Если все ок, показываем предварительный просмотр изображения
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previousElementSibling && this.previousElementSibling.remove();
                    this.insertAdjacentHTML('beforebegin', `<img src="${e.target.result}" alt="photo">`);
                };
                reader.readAsDataURL(file);
            }
        });
    });
});

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const latitude = document.querySelector('input[name="latitude"]').value;
            const longitude = document.querySelector('input[name="longitude"]').value;
            const countryField = document.getElementById('id_country');
            const cityField = document.getElementById('id_city');
            const streetField = document.getElementById('id_street');
            const houseNumberField = document.getElementById('id_house_number');

            if (latitude && longitude) {
                fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latitude}&lon=${longitude}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.address) {
                            countryField.value = data.address.country || '';
                            cityField.value = data.address.city || data.address.town || data.address.village || '';
                            streetField.value = data.address.road || ''; // Fill street
                            houseNumberField.value = data.address.house_number || ''; // Fill house number
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
            const maxServices = 5;

            // Добавляем обработчик для всех чекбоксов экосистемных услуг
            const serviceCheckboxes = document.querySelectorAll('.ecosystem-services-list .form-check-input');

            serviceCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const selectedServices = document.querySelectorAll('.ecosystem-services-list .form-check-input:checked');

                    if (selectedServices.length > maxServices) {
                        this.checked = false; // Отменяем выбор, если больше 5 услуг
                    }
                });
            });

            // Скрипт для раскрытия экосистемных услуг
            const ecosystemCategories = document.querySelectorAll('.ecosystem-category-title');

            ecosystemCategories.forEach(category => {
                category.addEventListener('click', function () {
                    const servicesList = this.nextElementSibling;
                    if (servicesList.style.display === 'none' || servicesList.style.display === '') {
                        servicesList.style.display = 'block';
                    } else {
                        servicesList.style.display = 'none';
                    }
                });
            });


            // Скрипт для загрузки и отображения фото
            const photoInputs = document.querySelectorAll('.upload-box input[type="file"]');
            photoInputs.forEach(input => {
                input.addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            this.previousElementSibling && this.previousElementSibling.remove();
                            this.insertAdjacentHTML('beforebegin', `<img src="${e.target.result}" alt="photo">`);
                        };
                        reader.readAsDataURL(this.files[0]);
                    }
                });
            });

            document.querySelectorAll('.upload-box .remove').forEach(remove => {
                remove.addEventListener('click', function () {
                    const box = this.parentElement;
                    box.querySelector('img') && box.querySelector('img').remove();
                    box.querySelector('input').value = '';
                });
            });

            const fetchTypesByCategory = (categoryId, targetField) => {
                if (categoryId) {
                    fetch(`/get_types_by_category/${categoryId}/`)
                        .then(response => response.json())
                        .then(data => {
                            let options = '<option value="">---------</option>';
                            data.types.forEach(type => {
                                options += `<option value="${type.id}">${type.name}</option>`;
                            });
                            targetField.innerHTML = options;
                        });
                } else {
                    targetField.innerHTML = '<option value="">---------</option>';
                }
            };

            // Для основной категории и типа
            const categoryMainField = document.getElementById('id_category');
            const mainTypeField = document.getElementById('id_main_type');

            if (categoryMainField) {
                categoryMainField.addEventListener('change', function () {
                    fetchTypesByCategory(this.value, mainTypeField);
                });
            }

            // Для дополнительных категорий и типов
            const additionalCategories = [
                {category: 'id_additional_category_1', type: 'id_additional_type_1'},
                {category: 'id_additional_category_2', type: 'id_additional_type_2'},
                {category: 'id_additional_category_3', type: 'id_additional_type_3'},
            ];

            additionalCategories.forEach(pair => {
                const categoryField = document.getElementById(pair.category);
                const typeField = document.getElementById(pair.type);

                if (categoryField) {
                    categoryField.addEventListener('change', function () {
                        fetchTypesByCategory(this.value, typeField);
                    });
                }
            });

            // Функция проверки уникальности
            function checkUniqueTypes() {
                const selectedTypes = new Set();

                const typeFields = [
                    document.getElementById('id_main_type'),
                    document.getElementById('id_additional_type_1'),
                    document.getElementById('id_additional_type_2'),
                    document.getElementById('id_additional_type_3')
                ];

                let duplicateFound = false;

                typeFields.forEach(field => {
                    if (field.value) {
                        if (selectedTypes.has(field.value)) {
                            duplicateFound = true;
                            field.setCustomValidity("Выбранный тип уже используется. Пожалуйста, выберите другой.");
                        } else {
                            selectedTypes.add(field.value);
                            field.setCustomValidity(""); // Убираем сообщение об ошибке, если тип уникален
                        }
                    }
                });

                return !duplicateFound; // Возвращаем, есть ли дубликаты или нет
            }

            // Добавляем событие на изменение для полей типов
            const typeFields = [
                document.getElementById('id_main_type'),
                document.getElementById('id_additional_type_1'),
                document.getElementById('id_additional_type_2'),
                document.getElementById('id_additional_type_3')
            ];

            typeFields.forEach(field => {
                field.addEventListener('change', checkUniqueTypes);
            });

            // Проверка при отправке формы
            const form = document.querySelector('form');
            form.addEventListener('submit', function (e) {
                if (!checkUniqueTypes()) {
                    e.preventDefault(); // Останавливаем отправку формы, если найдены дубликаты
                    alert("Некоторые типы совпадают. Пожалуйста, выберите разные типы.");
                }
            });
        });

    </script>

    <style>
        .custom-title {
            font-size: 1.25rem; /* Увеличенный размер шрифта */
            color: #01203f; /* Темно-синий цвет */
        }

        .custom-alert {
            position: absolute;
            background-color: rgb(189, 1, 1); /* Сделаем фон немного темнее */
            color: white;
            padding: 10px 20px; /* Увеличим внутренние отступы */
            border-radius: 8px; /* Более округлые углы */
            font-size: 14px;
            z-index: 1000;
            transform: translateY(-120%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Добавим тень для более выразительного эффекта */
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease; /* Добавим плавное появление и исчезновение */
            max-width: 300px; /* Увеличим максимальную ширину */
        }

        .custom-alert.show {
            opacity: 1;
            transform: translateY(-100%);
        }


        .upload-container {
            display: flex;
            flex-wrap: wrap;
        }

        .upload-box {
            width: 120px;
            height: 120px;
            border: 2px solid #000;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .upload-box img {
            max-width: 100%;
            max-height: 100%;
        }

        .upload-box input {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .upload-box .remove {
            position: absolute;
            top: 5px;
            right: 5px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
        }

        .ecosystem-category-title {
            cursor: pointer;
        }

        @media (max-width: 368px) {
            .upload-container .upload-box {
                width: 100%;
                margin: 5px 0;
            }
        }

        @media (max-width: 700px) {
            .d-flex.flex-wrap > div {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .d-flex.flex-wrap .flex-grow-1 {
                width: 100%;
            }
        }

    </style>

{% endblock %}
