{% extends "base.html" %}
{% load static %}
{% block title %}ВЗИК | Карта{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'includes/content.html' %}
{% endblock %}
