{% extends "base.html" %}
{% load static %}

{% block title %}Зелёный компас{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script>
        var projects = JSON.parse('{{ projects_data|escapejs }}');
    </script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}
<div id="map" style="height: 100vh;"></div>
<div id="map-overlay" class="select-point-message">Выберите точку на карте</div>
<div class="button-container" style="display: none;">
    <button id="confirm-point-btn" class="btn btn-primary">Подтвердить</button>
    <button id="cancel-selection-btn" class="btn btn-secondary">Отмена</button>
</div>
{% if user.is_authenticated %}
    <button id="add-project-button" class="btn btn-primary add-project-button">Добавить объект</button>
{% else %}
    <a href="{% url 'signin' %}" class="btn btn-primary add-project-button">Войти</a>
{% endif %}
{% endblock %}