{% extends "base.html" %}
{% load static %}
{% block title %}ВЗИК | Список проектов{% endblock %}

{% block content %}
<style>
    .project-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        cursor: pointer; /* Добавляем курсор указателя для карточек */
    }
    .project-row {
        cursor: pointer; /* Добавляем курсор указателя для строк таблицы */
    }
</style>
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Список проектов</h1>
            <div class="btn-group float-end">
                <button id="tableViewBtn" class="btn btn-primary btn-sm"><i class="align-middle" data-feather="list"></i> список</button>
                <button id="gridViewBtn" class="btn btn-outline-primary btn-sm"><i class="align-middle" data-feather="grid"></i> сетка</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Категория</h5>
                    </div>
                    <div class="card-body text-center">
                        <div class="text-muted mb-2">Тут будет описание категории отфильтрованного проекта</div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-header">
                        <h5 class="card-title mb-0">Тип</h5>
                    </div>
                    <div class="card-body text-center">
                        <div class="text-muted mb-2">Тут будет описание типа отфильтрованного проекта</div>
                    </div>
                    <hr class="my-0"/>
                </div>
            </div>

            <div class="col-md-8 col-xl-9">
                   {% include 'pages/_project_list.html' %}
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tableViewBtn = document.getElementById('tableViewBtn');
        const gridViewBtn = document.getElementById('gridViewBtn');
        const tableView = document.getElementById('tableView');
        const gridView = document.getElementById('gridView');

        tableViewBtn.addEventListener('click', function () {
            tableView.classList.remove('d-none');
            gridView.classList.add('d-none');
            tableViewBtn.classList.add('btn-primary');
            tableViewBtn.classList.remove('btn-outline-primary');
            gridViewBtn.classList.add('btn-outline-primary');
            gridViewBtn.classList.remove('btn-primary');
        });

        gridViewBtn.addEventListener('click', function () {
            tableView.classList.add('d-none');
            gridView.classList.remove('d-none');
            gridViewBtn.classList.add('btn-primary');
            gridViewBtn.classList.remove('btn-outline-primary');
            tableViewBtn.classList.add('btn-outline-primary');
            tableViewBtn.classList.remove('btn-primary');
        });
    });
</script>
{% endblock %}
