{% extends "base.html" %}
{% load static %}
{% block title %}Редактировать профиль{% endblock %}

{% block content %}
    <main class="content">
        <div class="container-fluid p-0">
            <div class="mb-3">
                <h1 class="h3 d-inline align-middle">Редактировать профиль</h1>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 custom-title">Информация о пользователе</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" value="{{ user.email }}" disabled>
                                </div>
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                                <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        .custom-title {
            font-size: 1.25rem; /* Увеличенный размер шрифта */
            color: #01203f; /* Темно-синий цвет */
        }
    </style>

{% endblock %}
