{% extends "base.html" %}
{% load static %}

{% block title %}Добавить объект{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Добавить объект</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="{% url 'map' %}" class="btn btn-secondary">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
